*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: black;
    --secondary-color: white;
}

body{
    font-family:'Times New Roman', Times, serif;
    scroll-behavior: smooth;
    line-height: 1.6;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}