:root{
    --primary-color: black;
    --secondary-color: white;
}
body {
    font-family: 'Lato', 'Playfair display';
    margin: 10px;
    padding: 10px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    
}
.form--contenedor__bizq {
    width: 300px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}
.form--contenedor__bdcho {
    width: 100%;
    max-width: 500px;
}
.contactoFormulario {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.Contacto-form__label {
    font-weight: bold;
    margin-bottom: 5px;
}
.Contacto-form__input,.Contacto-form__textoarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}
.Contacto-form__boton {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.Contacto-form__boton:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/* Estilo para los campos con error */
.error-border {
    border: 2px solid red; /* Cambia el color del borde */
    background-color: #ffe6e6; /* Fondo ligeramente rojizo */
}



/* Responsive */
@media (max-width: 750px) {
    .formulario {
        flex-direction: column; 
        align-items: center;
    }

    .form--contenedor__bizq {
        width: 100%; /* Ocupa todo el ancho disponible */
        text-align: center; 
        margin-bottom: 20px; 
    }

    .form--contenedor__bdcho {
        width: 100%; 
        text-align: left; 
        margin-bottom: 20px; 
        margin-bottom: 0; 
    }
}

