:root {
    --primary-color: black;
    --secondary-color: white;
    --tertiary-color: #F5F5F5;
    --quaternary-color: #387184;
    --quinary-color:#FF0072;
    --saxophone-color: #B5A642;
    --guitar-color: #D2B48C;
    --drums-color: #4682B4;
    --title-font: 'Playfair display', sans-serif;
    --main-font: 'Lato', sans-serif;
}   
*{
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
}
.navbar{
    padding: 1rem 2rem;
    background-color: var(--tertiary-color);
    z-index: 1000;
    height: 5vh;
    border-bottom: solid 1px  grey;
}

.navbar__container{
    width: 100%;
    height: 3rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo img {
    width: 80px;
    height: 60px;
    
}

.navbar__menu--list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-weight: 500;
}

.navbar__menu--link{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.1rem;
    font-weight: lighter;
    color: var(--primary-color);
    font-family: var(--title-font);
}

.navbar__menu--link:hover{
    color: var(--quaternary-color);
}

.navbar__menu--item {
    list-style-type: none;
}

section{
    height: 75vh;
    width: 100%;
    height: 75vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center; 
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}
.section__Text {
    grid-column: 1; 
    grid-row: 1;
    align-items: center;
}
.section__text__button-container {
    display: flex;
    justify-content: center;
}
.section__saxophoneButton{
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: var(--saxophone-color);
}
.section__saxophoneButton::before{
    background-color: var(--saxophone-color);
}  
.section__saxophone {
    grid-column: 2; 
    grid-row: 1;
    width: 100%;
    height: 75vh;
    background-color: var(--tertiary-color);
    background-image: url("/public/images/ic-saxophone.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} 
.section__guitarButton{
    border-color: var(--guitar-color);
}
.section__guitarButton::before{
    background-color: var(--guitar-color);
}  
.section__guitar {
    grid-column: 2; 
    grid-row: 1;
    width: 100%;
    height: 75vh;
    background-color: var(--tertiary-color);
    background-image: url("/public/images/ic-guitar.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.section__drumsButton{
    border-color: var(--drums-color);
}
.section__drumsButton::before{
    background-color: var(--drums-color);
}  
.section__drums {
    grid-column: 2; 
    grid-row: 1;
    width: 100%;
    height: 75vh;
    background-color: var(--tertiary-color);
    background-image: url("/public/images/ic-drums.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
h3 {
    font-family: var(--title-font);
    font-size: xx-large;
    text-align: center;
}
p {
    font-family: var(--main-font);
    text-align: center;
    margin-top: 2vh;
    font-size: medium;
}

button {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-family: var(--main-font);
    font-weight: bold;
    padding: 0.7em 2em;
    margin-top: 4vh;
    border: 3px solid var(--quinary-color);
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: var(--primary-color) ;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
    background-color: var(--secondary-color);
    cursor: pointer;
  }
  
button:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: var(--quinary-color);
    z-index: -1;
  }
  
button:hover, button:focus {
    color: var(--secondary-color);
  }
 
button:hover:before, button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }

button:active {
    transform: scale(0.9);
  }

.footer{
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 2rem 6rem;
}

.footer__social--link{
    color: var(--secondary-color);
}

.footer__container{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   justify-content: space-between;
   align-items: center;
   gap: 6rem;
}

.footer__title {
    font-size: 1.5rem;
    font-family: var(--title-font);
    margin-bottom: 0.5rem;
    color: var(--secondary-color);
}
.footer__description {
    font-family: var(--main-font);
    text-align: justify;
}
.footer__social {
    display: flex;
    justify-content: end; 
}
.footer__social--insta, .footer__social--x{
    margin-right: 2.7rem;

}
span {
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
i{
    font-size: 2.8rem;
}
a{
    text-decoration: none;
    color: var(--secondary-color);
}
