*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: black;
    --secondary-color: white;
}

body{
    font-family:'Times New Roman', Times, serif;
    scroll-behavior: smooth;
    line-height: 1.6;
    background: linear-gradient(135deg,#fff 50%, #000 50%);
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

.navbar{
    padding: 1rem 2rem;
    position: sticky;
    z-index: 1000;
}

.navbar__container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo img {
    width: 90px;
    height: 70px;
    
}

/* Media Queries */

@media(max-width: 1200px){

}

@media(max-width: 768px){
    
}

@media(max-width: 576px){
    
}